body{
  padding: 0;
  margin: 0;
  background-color: wheat;
  font-size: 40px;
  font-family: 'Roboto Mono';
  font-weight: 700;
}

img{
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.main{
  display: grid;
  place-items: center;
}

.app-container{
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.app-item{
  width: 400px;
  padding: 40px 0 40px 0;
  text-align: center;
  background-color: brown;
  border-radius: 50px;
  text-decoration: none;
  color: black;
}

.title{
  font-size: 60px;
  display: grid;
  place-items: center;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .app-container{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
  }
}

@media screen and (max-width: 700px) {
  .app-container{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 100px;
  }
}
